@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  background-color: #f2f2f2;
}

.button {
  display: block;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.page-navigation {
  display: flex;
  padding: 0 70px;
}

.page-logo {
  width: 139px;
  margin-right: 30px;
  z-index: 1;
}

.header-logo {
  display: block;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user {
  min-width: 264px;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 24px 12px;
  min-width: 18px;
  min-height: 18px;
  outline: 1px solid #0370a7;
}

.favourite-number {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.favourite-number::after {
  content: "12";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
}

.navigation-user .button {
  box-sizing: border-box;
  width: 160px;
  height: 37px;
  margin-left: 20px;
  padding: 9px 15px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* .favourite-number {
  background-color: #7db54f;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
} */

/* main */

.main-container {
  flex-grow: 1;
}

.main-header {
  margin-bottom: 63px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #000;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-item-logo {
  display: block;
  margin: 0 auto;
}

.main-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.main-description h1 {
  width: 620px;
  margin: 0;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-description p {
  width: 656px;
  margin: 0;
  margin-bottom: 90px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* section class="advantages" */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-container {
  background-color: #82b3d3;
  color: #fff;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list .dark-blue {
  background-color: rgba(131, 179, 211);
}

.advantages-list .blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-list .advantages-item {
  padding: 80px 85px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-number {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* section class="searching" */

.searching {
  padding: 91px 0 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching-heading {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.searching p {
  width: 592px;
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.searching .searching-button {
  /* display: block; */
  box-sizing: border-box;
  width: 574px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

/* subscribe */

.subscribe {
  padding: 94px 0;
}

.subscribe-heading {
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  width: 475px;
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  text-align: center;
}

.subscribe-form input {
  width: 600px;
  padding: 20px 22px 19px;
  font-family: "PT Sans";
  font-style: normal;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscribe-form .button-submit {
  width: 200px;
  height: 60px;
  border: none;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-index-subscribe {
  color: #fff;
  background-color: #000;
  background-image: url(../images/footer-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 142px;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  outline: 1px solid #ff5757;
}

/*
.page-footer .button-vk{
  background-image: url(../images/social-vk.svg);
  background-repeat: no-repeat;
}
*/

.page-footer .phone-number {
  width: 331px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* modal */

.modal-legend h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close {
  display: inline-block;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.index-modal label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.index-modal input {
  border: none;
  background: #f2f2f2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.index-modal input::placeholder {
  color: #000;
}

.modal-line-tooltip {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-error {
  color: #ff5757;
}

.modal-button {
  background: #83b3d3;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

/* catalog.html */

/* hotels-filters */

.main-hotels .hotels-filters {
  padding: 35px 70px 70px;
  background-color: #000;
  background-image: url(../images/filters-background.jpg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  color: #fff;
}

.hotels-filters .hotels-filters-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hotels-breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  align-items: center;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  margin-right: 25px;
}

/* form */

.hotels-searching {
  display: flex;
}

.hotels-searching legend {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.hotels-searching label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels-searching-price .value {
  border: 2px solid #fff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: none;
}

.hotels-searching-price .value::placeholder {
  color: #fff;
}

.hotels-searching .button-submit {
  background: #82b3d3;
  border-radius: 4px;
}

.hotels-searching .button-reset {
  font-weight: 400;
  background: none;
  border: none;
  text-transform: none;
}

/* .hotels-find-results */


.hotels-find-results {
  padding: 50px 72px 25px;
}

.find-results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.find-results-heading {
  width: 338px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/* .find-results-heading input {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
} */

.find-results-sorting {
  box-sizing: border-box;
  width: 290px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.find-results-grid {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-grid-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-grid-current {
  border: 2px solid #000000;
}

/* find-results-container */

.find-results-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 66px;
  column-gap: 18px;
  /* Временно */
  outline: 1px solid greenyellow;
}

.hotel-card {
  padding: 20px;
  outline: 1px solid slateblue;
}

.hotel-card .hotel-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card .hotel-card-category,
.hotel-card .hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card .favorites {
  border-radius: 4px;
  background: #82b3d3;
  border: none;
}

.hotel-card .button-current {
  background: #7db54f;
}

.hotel-card .hotel-rating {
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
}

/* results-footer */

.results-footer {
  display: flex;
  justify-content: space-between;
}

.results-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.results-pagination .pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  color: #fff;
}

.results-pagination .pagination-current {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #000;
}

.result-amount label {
  margin-right: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.result-amount select {
  box-sizing: border-box;
  width: 160px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe-form {
  text-align: center;
}
